@model NavBar


<form  method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order"></label>
        <input class="form-control" asp-for="Order" placeholder="Enter order">
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
