

@model ProductUpdateDto

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" placeholder="Enter Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SellPrice">Sell  Price  </label>
        <input class="form-control" asp-for="SellPrice" placeholder="Enter Sell Price">
        <span asp-validation-for="SellPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPrice">Discount Price</label>
        <input class="form-control" asp-for="DiscountPrice" placeholder="Enter Discount Price">
        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input type="text" asp-for="Rating" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <img src="~/assets/imgs/productImg/@Model.MainFilePath" style="width:150px"/>
        <label for="exampleInputPassword1" class="form-label">Main File</label>
        <input asp-for="MainFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="MainFile" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <img src="~/assets/imgs/productImg/@Model.HoverFilePath" style="width:150px" />

        <label for="exampleInputPassword1" class="form-label">Hover File</label>
        <input asp-for="HoverFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="HoverFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        @foreach (var file in Model.FilePaths)
        {
            <img src="~/assets/imgs/productImg/@file" style="width:150px" />
        }

        <label for="exampleInputPassword1" class="form-label">Additional Files</label>
        <input asp-for="Files" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name)))" class="form-control">
            <option selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Vendor</label>
        <select asp-for="VendorId" asp-items="@(new SelectList(ViewBag.Vendors,nameof(Vendor.Id),nameof(Vendor.Name)))" class="form-control">
            <option selected>Select Vendor</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
